@import '../../../../../../../styles/variables';
@import '../../../../../../../styles/mixins';

.milestone-gallery {
  // TODO: Gallery container
}

.gallery-grid {
  // TODO: Grid layout for thumbnails
  // TODO: Responsive columns
  // TODO: Gap between images
}
