@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.lightbox-backdrop {
  // TODO: Fixed overlay
  // TODO: Backdrop blur/dark overlay
  // TODO: Centered content
  // TODO: z-index management
}

.lightbox-content {
  // TODO: Content container styling
  // TODO: Close button positioning
  // TODO: Image styling
}
