@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.detail-panel {
  // TODO: Panel styling
  // TODO: Content padding
  // TODO: Transition animations for content changes
}

.detail-panel-placeholder {
  // TODO: Placeholder styling
  // TODO: Centered message
}
