@import '../../../../../../../styles/variables';
@import '../../../../../../../styles/mixins';

.milestone-header {
  // TODO: Header layout
  // TODO: Typography styling
  // TODO: Badge styling for type
  // TODO: Date range formatting
}
