@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.profile-card {
  // TODO: Card styling
  // TODO: Image styles with circular frame
  // TODO: Hover animations
  // TODO: Responsive layout
}
