@import '../../../../../../../styles/variables';
@import '../../../../../../../styles/mixins';

.milestone-content {
  // TODO: Content layout
  // TODO: Spacing between sections
}

.description {
  // TODO: Description typography
}

.achievements {
  // TODO: Achievement list styling
  // TODO: Achievement card layout
}

.technologies {
  // TODO: Technology tag styling
  // TODO: Flexbox layout for tags
}
