@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.vision-text {
  // TODO: Typography styling
  // TODO: Animation keyframes for typewriter
  // TODO: Fade-in animation
}
