@import '../../../styles/variables';
@import '../../../styles/mixins';

.contact-section {
  // TODO: Section layout
  // TODO: Contact info styling
  // TODO: Social links styling
  // TODO: Footer styling
}
