@import '../../../styles/variables';
@import '../../../styles/mixins';

.journey-section {
  // TODO: Full viewport sections for each milestone
  // TODO: Sticky positioning
}

.journey-container {
  // TODO: Split layout - trunk left, detail right
  // TODO: Responsive breakpoints
}

.trunk-container {
  // TODO: Left column styling
  // TODO: Fixed/sticky positioning
}

.detail-container {
  // TODO: Right column styling
  // TODO: Content padding
}
