@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.trunk {
  // TODO: Container for trunk and nodes
  // TODO: Relative positioning for absolute children
}

.trunk-svg {
  // TODO: Full height SVG
  // TODO: Positioned absolutely
  // TODO: z-index below nodes
}

.trunk-nodes {
  // TODO: Container for nodes
  // TODO: Vertical layout
}
